@media screen and (min-width: 768px) {
  header {
    text-align: left;
  }

  main {
    padding: 60px;
  }

  .traditional {
    display: inline;
  }

  .box-recipe {
    display: flex;
    flex-wrap: wrap;
  }

  .box-recipe li {
    width: calc(100% / 3);
  }

  .box-social {
    padding: 10px 60px;
    border-radius: 20px;
  }

  .advertising {
    display: inline;
  }

  .tiramisu {
    float: left;
    margin: 0 15px 15px 0;
  }
}

@media screen and (min-width: 992px) {
  .info {
    display: flex;
  }

  .container-box-recipe {
    width: 400px;
    flex-shrink: 0;
  }

  .box-recipe {
    display: block;
  }

  .box-recipe li {
    width: 100%;
  }

  .social p {
    display: inline;
    font-weight: bold;
  }

  .box-social {
    display: flex;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: initial;
  }
}
