@media screen and (min-width: 768px) {
  h1 {
    justify-content: flex-start;
  }

  body {
    width: 900px;
  }

  .vid-tir {
    width: 90%;
  }

  .box-recipe {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {
}
