@media screen and (min-width: 768px) {
  h1 {
    justify-content: flex-start;
  }

  body {
    width: 900px;
  }

  .traditional {
    display: inline;
  }

  .vid-tir {
    width: 90%;
  }

  .box-recipe {
    display: flex;
    flex-wrap: wrap;
  }

  .box-social {
    padding: 10px 60px;
    border-radius: 20px;
  }

  .advertising {
    display: inline;
  }
}

@media screen and (min-width: 992px) {
  .social p {
    display: inline;
    font-weight: bold;
  }

  .box-social {
    display: flex;
  }
}
