/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

.nerko-one-regular {
  font-family: "Nerko One", serif;
  font-weight: 400;
  font-style: normal;
}

/* UTILITIES */

body {
  background-color: #f6f5f3;
}

main {
  padding: 30px 25px;
  margin-top: 10px;
}

main .container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-gray {
  color: #99a5b3;
  margin-bottom: 10px;
}

.tiramisu-title {
  color: #4e3969;
  margin-bottom: 10px;
}

li {
  padding: 10px;
}

h3 {
  padding: 15px;
}

.bold {
  font-weight: bold;
}

/* HEADER */

header {
  background-color: #ffff;
  padding: 25px;
  text-align: center;
}

header a {
  color: #ff9614;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #ddd;
  font-size: 40px;
  text-decoration: none;
}

/* SECTION INFO */

.traditional {
  display: none;
}

.vid-tir {
  width: 100%;
  display: block;
}

.container-box-recipe {
  background-color: #ffff;
}

/* SECTION SOCIAL  */

.social {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.box-social {
  padding: 15px;
  border-radius: 50%;
  background-color: #ffff;
  box-shadow: 0 1px 3px 0 #ddd;
}

.social p {
  display: none;
}

.fa-facebook {
  color: #1a77f3;
}

.fa-twitter {
  color: #009eff;
}

.fa-instagram {
  color: #dc3d78;
}

.fa-pinterest,
.fa-youtube {
  color: #e62222;
}

/* SECTION PUBBLICITA */

.advertising {
  width: 100%;
  display: block;
  margin-top: 30px;
  display: none;
}

/* SECTION PRESENTATION */

h2 {
  text-transform: uppercase;
  font-weight: 500;
}

hr {
  width: 55px;
  border: 0;
  height: 1px;
  margin: 5px 0;
  background-color: #f7972e;
}

.tiramisu {
  width: 375px;
  display: block;
  margin: 0 auto;
}

.description p {
  margin-top: 5px;
  line-height: 2;
}

/* FOOTER */

footer {
  background-color: #7c69a4;
  color: #ffff;
  padding: 30px 20px;
  text-align: center;
}

a {
  color: #ffff;
}

.fot-right {
  margin-bottom: 10px;
  font-style: normal;
}

.fot-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
